@model IEnumerable<ClinicQueueSystem.Models.Patient>

<h2>Live Queue</h2>
<div id="queueList">
    @await Html.PartialAsync("_QueueList", Model)
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="~/js/queue.js"></script>
}
